html
  head
    title Vista del Administrador
  body
    h1 Vista del Administrador
    div
      a(href="/admin/crear-usuario") Crear Usuario
    div
      a(href="/admin/actualizarUsuarioAdm") Actualizar Usuario
