html
  head
    title Vista del Técnico
  body
    h1 Vista del Técnico
    div
      a(href="/registrar-paciente") Registrar Paciente
    div
      a(href="/buscar-paciente") Buscar Paciente
    div
      a(href="/generar-orden") Generar Orden
    div
      a(href="/actualizar-orden") Actualizar Orden
    div
      a(href="/generar-examen") Generar Examen
    div
      a(href="/actualizar-examen") Actualizar Examen
    div
      a(href="/generar-determinacion") Generar Determinación
    div
      a(href="/actualizar-determinacion") Actualizar Determinación
    div
      a(href="/generar-valor-referencia") Generar Valor de Referencia
    div
      a(href="/actualizar-valor-referencia") Actualizar Valor de Referencia
