html
  head
    title Vista del Técnico
  body
    h1 Vista del Técnico
    div
      a(href="/ingresar/administrativo") Registrar/Buscar Paciente
    div
      a(href="/orden/generacion-orden") Generar Orden
    div
      a(href="/BuscarOrdenes/ordenes") Actualizar Orden
    div
      a(href="/examen/crear-examen") Generar Examen
    div
      a(href="/modificar-examen/buscar-modificar-examen") Actualizar Examen
    div
      a(href="/determinacion/crear-determinacion") Generar Determinación
    div
      a(href="/modificar-determinacion/modificar-determinacion") Actualizar Determinación
    div
      a(href="/valoresreferencia/crear-valores") Generar Valor de Referencia
    div
      a(href="/buscar-valores/buscar-valores-referencia") Actualizar Valor de Referencia
