extends layout

block content
  head
    title Actualizar Orden de Trabajo
    link(rel="icon", href="/public/img/icon.png", type="image/png")
  h1 Actualizar Orden de Trabajo
  
  div.container
    form(action="/ordenes", method="POST", id="searchForm", class="mb-4")
      div.form-group
        label(for="idPaciente") Buscar Orden por ID de Paciente:
        input(type="text", name="idPaciente", id="idPaciente", placeholder="ID del Paciente", class="form-control", required)
      button(type="submit", class="btn btn-primary") Buscar

    h2#resultHeading Resultados:
    #resultCards
      if ordenesTrabajo
        each orden in ordenesTrabajo 
          div.card
            h3 Órden de Trabajo
            p Orden: #{orden.id_Orden}
            p Id Paciente: #{orden.id_Paciente}
            p Fecha: #{orden.Fecha_Creacion}
            p Estado: #{orden.estado}

  script.
    document.getElementById("searchForm").addEventListener("submit", async (e) => {
      e.preventDefault();
      const idPaciente = document.getElementById("idPaciente").value;
      const resultHeading = document.getElementById("resultHeading");
    })
