extends layout

block content
  head
    title Buscar Paciente por DNI, Apellido o Email
  body
    div#container
      h2#titulo Buscar Paciente
      form#buscar-form(action="/buscar-paciente", method="post")
        div.form-group
          label(for="searchType") Buscar por:
          select#searchType(name="searchType" class="form-control" required)
            option(value="dni") DNI
            option(value="apellido") APELLIDO
            option(value="email") EMAIL
        div.form-group
          label(for="searchTerm") Ingresar informacion:
          input#searchTerm(type="text" name="searchTerm" class="form-control" required)
        button#guardar-btn(type="submit" class="btn btn-primary") Buscar

        if mensaje
          p(style="color: #ff4040;")= mensaje
          a#add-paciente(href="/ingresar-paciente", class="btn btn-success") Añadir Paciente
