extends layout

block content
  head
    title Buscar Paciente por DNI, Apellido o Email
    link(rel="icon", href="/public/img/icon.png", type="image/png")
  body
    div#container
      h2#titulo Buscar Paciente
      form#buscar-form(action="/buscar-paciente", method="post")
        div.form-group
          label(for="searchType") Buscar por:
          select#searchType(name="searchType" class="form-control" required)
            option(value="dni") DNI
            option(value="apellido") APELLIDO
            option(value="email") EMAIL
        div.form-group
          label(for="searchTerm") Dato:
          input#searchTerm(type="text" name="searchTerm" class="form-control" required)
        button#guardar-btn(type="submit" class="btn btn-primary") Buscar

      // Bot칩n "Ordenes" que redirige a la p치gina de generaci칩n de 칩rdenes
      h2 Ordenes de trabajo
      a.btn.btn-primary(href="/orden/generacion-orden") Ordenes
