doctype html
html
  head
    link(rel="icon" href="/public/img/icon.png" type="image/png")
    title Crear Usuario
  body
    h1 Crear Usuario
    form(action="/admin/crear-usuario", method="POST")
      label(for="nombre") Nombre:
      input(type="text", name="nombre")
      label(for="correo_electronico") Correo Electrónico:
      input(type="text", name="correo_electronico")
      label(for="password") Contraseña:
      input(type="password", name="password")
      label(for="rol") Rol:
      select(name="rol")
        option(value="recepcionista") Recepcionista
        option(value="tecnico") Técnico
        option(value="bioquimico") Bioquímico
        option(value="admin") Administrador
      button(type="submit") Crear Usuario
      if error
        p(style="color: red;") #{error}
        
