extends layout

block content
  head
    title Crear Examen
  body
    h1 Crear Examen
    form#crear-examen-form(action="/examen/crear-examen", method="post")
      div.form-group
        label(for="nombre_examen") Nombre del Examen:
        input#nombre_examen(type="text", name="nombre_examen" class="form-control" required)
      div.form-group
        label(for="descripcion") Descripción del Examen:
        textarea#descripcion(name="descripcion" class="form-control")
      div.form-group
        label(for="codigo") Código del Examen:
        input#codigo(type="text", name="codigo" class="form-control" required)
      button.btn.btn-primary(type="submit", onclick="return confirm('¿Estás seguro de crearar el examen?')") Crear Examen
