extends layout

block content
  head
    title Crear Examen
    link(rel="icon", href="/public/img/icon.png", type="image/png")
  body
    h1 Crear Examen
    form#crear-examen-form(action="/examen/crear-examen", method="post")
      div.form-group
        label(for="nombre_examen") Nombre del Examen:
        input#nombre_examen(type="text", name="nombre_examen" class="form-control" required)
      div.form-group
        label(for="descripcion") Descripción del Examen:
        textarea#descripcion(name="descripcion" class="form-control")
      div.form-group
        label(for="codigo") Código del Examen:
        input#codigo(type="text", name="codigo" class="form-control" required)
      a.btn.btn-primary(href="/examen/crear-valores") Agregar Nuevo Valor de Referencia

      button.btn.btn-primary(type="submit") Crear Examen
