block content
  h1 Crear Examen 
  form(action="/examen/crear-examen" method="post")
    label(for="nombre_examen") Nombre del Examen:
    input(type="text" name="nombre_examen" required)
    label(for="descripcion") Descripción del Examen:
    textarea(name="descripcion")
    label(for="codigo") Código del Examen:
    input(type="text" name="codigo" required)
    a(href="/examen/crear-valores" class="button") Agregar Nuevo Valor de Referencia

    button(type="submit") Crear Examen

