

block content
  h1 Crear Examen con Valores de Referencia
  form(action="/examen/crear-examen" method="post")
    label(for="nombre") Nombre del Examen:
    input(type="text" name="nombre" required)
    label(for="descripcion") Descripción del Examen:
    textarea(name="descripcion")
    label(for="codigo") Código del Examen:
    input(type="text" name="codigo" required)
    a(href="/examen/crear-valores" class="button") Agregar Nuevo Valor de Referencia

    button(type="submit") Crear Examen
