<<<<<<< HEAD
<<<<<<< HEAD

head
  title Generación de Orden de Trabajo
body
head
  title Generación de Orden de Trabajo
body
=======
>>>>>>> parent of 30ec2f3 (1)
=======
>>>>>>> parent of 30ec2f3 (1)
head
  title Generación de Orden de Trabajo
body
  h1 Generación de Orden de Trabajo
  form(action="/generacion-orden", method="POST")
    div
      label(for="paciente") Paciente:
      input(type="text", name="paciente", id="paciente", value=nombre + " " + apellido + " (DNI: " + dni + ")", readonly)

    div
      select(name="examenes", id="examenes", multiple)
      label(for="examenes") Exámenes:
      select(name="examenes", id="examenes", multiple)
        //- Aquí va un bucle para cargar los exámenes desde la base de datos
        option(value="examen_id_1") Nombre del Examen 1
        option(value="examen_id_2") Nombre del Examen 2
    div
      label Tipos de Muestra:
      each tipo in tiposMuestra

            option(value="esperando_toma_muestra") Esperando Toma de Muestra
            option(value="analitica") Analítica
    button(type="submit") Generar Orden de Trabajo
