doctype html
html
  head
    title Inicio de Sesión
  body
    h1 Bienvenido
    p Elija cómo desea ingresar:
    a(href="/ingresar/administrativo") Ingresar como Administrativo
    br
    br
    a(href="/ingresar/salud") Ingresar como Personal de Salud
