head
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  link(rel="icon" href="/public/img/icon.png" type="image/png")
  link(rel="stylesheet" href='/public/css/style.css')
  script(src='https://code.jquery.com/jquery-3.6.0.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' crossorigin='anonymous')
body
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    h4.mb-4.mr-auto Laboratorio
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarMenu")
      span.navbar-toggler-icon
    #navbarMenu.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href="/cambiarContrasena") Cambiar Contraseña
        li.nav-item
          a.nav-link(href="/logout") Cerrar Sesión
  block content
