block content
  h1 Iniciar Sesi칩n
  if message
    p(class='error-message')= message
  form(action='/login', METHOD='POST')
    label(for='correo_electronico') Correo Electr칩nico
    input(type='text', name='correo_electronico', id='correo_electronico', required)
    br
    label(for='password') Contrase침a
    input(type='password', name='password', id='password', required)
    br
    button(type='submit') Iniciar Sesi칩n