head
  title BioScan Lab
  link(rel="icon" href="/public/img/icon.png" type="image/png")
  link(rel="stylesheet" type="text/css" href="/public/css/style.css")
body
  div#container
    h1 BioScan Lab
    a.card-link(href="/ingresar-paciente" id="guardar-btn")
      .card Registrar Paciente
    a.card-link(href="/buscar-paciente" id="guardar-btn")
      .card  Actualizar Paciente
