doctype html
html
  head
    title Recepcionista
  body
    h1 Bienvenido Recepcionista
    .buttons
      a(href="/ingresar/administrativo") Registrar/Buscar Paciente
      a(href="/orden/generacion-orden") Generar Orden
      a(href="/BuscarOrdenes/ordenes") Actualizar Orden
