body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: 50px;
    background-image:url(../img/fondocomun.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  
  #container {
    max-width: 400px;
    padding: 20px;
    background-color: #007BCB;
    text-align: left; /* Alinea el contenido de izquierda a derecha */
    border-radius: 30px;
    opacity: 0.9;
    color: white;
    font-size: 17px;
    font-weight: bold;
}
#content{
  opacity: 1;
}
.error-mensaje{
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: bold;
}
  
  #titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
.input-field {
  width: 90%;
  padding: 10px;
  margin: 5px 0;
  background-color: #fff; 
  transform: sa;
  border-radius: 4px;

}

.select-field {

  width: 95%;
  padding: 10px;
  margin: 5px 0;
  background-color: #fff; 
  border-radius: 10px;
  font-size: 16px;
  color: #333;
  outline: none;
}
.radio-embarazo



.radio-field label::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #007bff; /* Color de la "pelotita" cuando está seleccionado */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.radio-field input[type="radio"]:checked + label {
  background-color: #fff; /* Cambia el color de fondo cuando está seleccionado */
}

.radio-field input[type="radio"]:checked + label::after {
  display: block;
}

  #guardar-btn {
    background-color: #06269A;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s;
    &:hover{
      transform: scale(1.1);
    }
  }
  
